/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require main
 *= require bootstrap.min
 *= require select2.min
 *= require font-awesome
 *= require menu-menu/css/hover-dropdown-menu
 *= require owl-carousel-slider/css/owl.carousel
 *= require owl-carousel-slider/css/owl.theme.default
 *= require fancyBox/css/jquery.fancybox
 *= require acordian/css/jquery-ui
 *= require vertical-slider/css/jquery.bxslider
 *= require style
 *= require responsive
 *= require color
 *= require switcher/css/switcher
 *= require common
 *= require flag-icon
 *= require_self
 */

.top-icon-box3 li i {
  padding: 6px 0px;
}

.top-icon-box3 .dropdown-menu li {
  display: block;
}

.top-icon-box3 .dropdown-menu li a {
  display: block;
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0;
  padding: 0 16px;
}

.top-icon-box3 .dropdown-menu li a:hover {
  color: #1bbc9b;
}

.light-grey-background {
  background: #f1f1f1;
}

.Profile.setting select {
  border: 1px solid #f1f1f1;
  padding: 0 10px;
  margin-bottom: 20px;
}

.Profile.setting select:focus {
  border-color: #1bbc9b;
}
