.pagination-box .page.current {
  background-color: #1bbc9b;
  color: #fff;
}

.m-l-10 {margin-left: 10px}
.m-t-15 {margin-top: 15px}
.m-b-20 {padding-bottom: 20px}
.m-b-30 {margin-bottom: 30px}
.m-b-80 {margin-bottom: 80px;}

.text-line-through {text-decoration-line: line-through;}

.devise-page {
  background-image: asset-url('login-bg.jpg');
  background-size: cover;

  .Profile {
    background: #fefefe;
    padding: 20px;
  }
}
